<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="./echarts.min.js"></script>

        <style type="text/css">
            .chart {
                width: 800px;
                height: 450px;
            }
            .nmon {
                float: left;
            }
            .select {
                position: fixed;
                top: 1px;
                right: 1px;
            }
            
        </style>

        <script>
            function showNmonCharts() {
                let options = document.getElementById("nmonfiles").options;
                for(o of options) {
                    let nmonfile = document.getElementById(o.value);
                    if(o.selected) {
                        nmonfile.style.display="";
                    }else {
                        nmonfile.style.display="none";
                    }
                }
            }
            function filterCharts() {
                let nmonfiles_options = document.getElementById("nmonfiles").options;
                for(f of nmonfiles_options) {
                    let charts_options = document.getElementById("charts").options;
                    for(c of charts_options) {
                        let chart_id = f.value + "_" + c.value;
                        let chart = document.getElementById(chart_id);
                        if(c.selected) {
                            chart.style.display="";
                        }else {
                            chart.style.display="none";
                        }
                    }

                }
            }
        </script>

    </head>
    <body>
        <div class="select">
            <div>
                <label>
                    nmonfiles:
                    <select name="nmonfiles" id="nmonfiles" multiple size="20" onchange="showNmonCharts()">
                    {% for nmon in nmonfiles -%}
                        <option value="{{ nmon.id }}" {{ nmon.selected }}>{{ nmon.name }}</option>
                    {% endfor -%}
                    </select>
                </label>
            </div>
            <div>
                <label>
                    charts:
                    <select name="charts" id="charts" multiple size="10" onchange="filterCharts()">
                    {% for chart in charts -%}
                        <option value="{{ chart.name }}" {{ chart.selected }}>{{ chart.name }}</option>
                    {% endfor -%}
                    </select>
                </label>
            </div>
        </div>

        <div>
        {% for nmon in nmonfiles -%}
            <div id="{{ nmon.id }}" class="nmon">
            {% for chart in charts -%}
                <div id="{{ nmon.id }}_{{ chart.name }}" class="chart"></div>
            {% endfor -%}
            </div>
        {% endfor -%}
        </div>

        <script src="./index_nmons_data.js"></script>
        <script>filterCharts()</script>
    </body>
</html>

    
