
let mem_swap_chart_{{ nmon_id }} = echarts.init(document.getElementById('{{ nmon_id }}_MEM_SWAP'));
mem_swap_chart_{{ nmon_id }}.setOption(
{
    title: {
        text: '{{ nmon_name }}',
        left: 'center',
        top: 'top',
    },
    legend: {
        top: '30',
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
        },
    },
    xAxis: { 
        type: 'time',
        axisLabel: {
            rotate: '90',
            formatter: '{hh}:{mm}',
        },
    },
    yAxis: [
        { 
            name: 'MB',
        },
    ],
    series: [
        { 
            name: 'memtotal',
            type: 'line',
            data: [
                {% for data in series_data_memtotal -%}
                    [ '{{ data.x }}', {{ data.y }} ],
                {% endfor -%}
            ],
        },
        {% for other in series_data_other -%}
            { 
                name: '{{ other.0 }}',
                type: 'line',
                stack: '1',
                areaStyle: {},
                data: [
                    {% for data in other.1 -%}
                        [ '{{ data.x }}', {{ data.y }} ],
                    {% endfor -%}
                ],
            },
        {% endfor -%}
    ],

}
);