{
    title: {
        text: '{{ nmon_name }}',
        left: 'center',
        top: 'top',
    },
    legend: {
        top: '30',
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
        },
    },
    xAxis: {
        axisLabel: {
            rotate: '90',
        },
        data: [
            {% for lable in axis_label -%}
                '{{ lable }}',
            {% endfor -%}
        ],
    },
    yAxis: [
        {
            {# splitArea: {show: false}, #}
        },
    ],
    series: [
        {
            name: 'Avg.',
            type: 'bar',
            stack: '1',
            data: [
                {% for avg in data_avg -%}
                    {{ avg }},
                {% endfor -%}
            ],
        },
        {
            name: 'WAvg.',
            type: 'bar',
            stack: '1',
            data: [
                {% for wavg in data_wavg -%}
                    {{ wavg }},
                {% endfor -%}
            ],
        },
        {
            name: 'Max.',
            type: 'line',
            data: [
                {% for max in data_max -%}
                    {{ max }},
                {% endfor -%}
            ],
        },
        {
            name: 'Min.',
            type: 'line',
            data: [
                {% for min in data_min -%}
                    {{ min }},
                {% endfor -%}
            ],
        },
    ],
}
